img{
    margin-left: 25%;
    margin-right:25%;
    border:5px solid white;
    margin-top:100px;
    width:50%;
}
*{
    background: black;
}
h1{
    color: white;
    font-size: 3rem;
    padding-left: 1%;
}
.one{
    color:white;
    font-family:serif;
    padding-left: 2%;
}